html {
  height: 100%;
}

body {
  height: 100%;
}

#mapid{
  height: 100%;
}

.mapid-home{
 height: 400px !important;
 margin-bottom: 20px;
 border: 1px solid transparent;
 border-radius: 4px;
 -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
 box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.leaflet-popup-content-wrapper {
  background: none;
  padding: 0px;
  border-radius: 0.25rem;
}

.leaflet-popup-content{
  margin: 0px;
}

.leaflet-popup-content .card {
  border: none;
}

.leaflet-popup-content .card .card-title {
  font-size: 1.25rem;
}


.leaflet-popup-content .card img{
  background-color: #343a40 !important;
  padding: 10px;
}

